
* {
	margin: 0;
	padding: 0;
	outline: 0;
}
h3{
	color: #fff;
	text-align: center;

}
.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear: both;
}

.container {
	width: 100%;
	margin: 0 auto;
}


.header {

	width: 100%;
}
.header_wraper {
}
.header_left {
	float: left;
	background-color: #571845;
	height: 80px;
	width:10%;
}
.logo {
}
.header_right {
	float: right;
	background-color: #900C3E;
	height: 80px;
	width:90%;
}
.banner {
}
.menu{
	height: 60px;
	width: 100%;
	background-color: #571845;
}
.menu_wraper {
}
.navbar {
}
.nav {
	height: 60px;
	width: 100%;
}
.nav ul{
}
.nav ul li{
}
.nav ul li a{
}
.nav ul li a:hover{
}
.containt {
}
.contain_wraper {
}
.side_bar_left {
}
.sb_left_top {
}
.sb_left_containt {
}
.sb_left_bottom {
}
.main_containt {
}
.side_bar_right {
}
.sb_right_one {
}
.sb_right_containt {
}
.sb_right_two {
}
.sb_right_three {
}
.fotter_top {
}
.footrt_top_wraper {
}
.footer_top_containt {
}
.footer_top_containt_1 {
}
.footer_top_containt_2 {
}
.footer_top_containt_3 {
}
.footer_top_containt_4 {
}
.footer_top_containt_5 {
}
.footer_wraper {
}
.fotter_containt {
}
